.item {
    /* border: 1px solid #efefef; */
    border-radius: 7px;
    width: 290px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 30px; 
    background-color:rgb(173, 174, 196);   
}

.item .btn-add:hover{
    color:rgb(255, 255, 255);
    width: 50px;
}

.item .quantity-picker{
    display: inline-block;
}

.item .btn-add{
    display: inline-block;
    margin-left: 25px;
    background-color:rgb(97, 252, 136);
}

.item .price{
    grid: 1px;
    grid-template-columns: 1px;
}

.item .prices {
    display: grid;
    grid-template-columns: auto auto;
}